# Ignore files for BackEnd (ASP.NET Core)
BackEnd/bin/
BackEnd/obj/

# Ignore files for FrontEnd (Node.js)
FrontEnd/node_modules/

# Visual Studio for Mac
.idea/

# Visual Studio Code settings
.vscode/

# Ignore Visual Studio specific files
.vs/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# NPM logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
